:root {
    // colors
    --color-white: rgb(248, 245, 236);
    --color-white-2: rgb(250, 242, 220);
    --color-white-yellow: rgb(250, 243, 229);

    --color-gray-light-1: rgb(236, 253, 234);
    --color-gray-light-2: rgb(247, 247, 247);
    --color-gray-light-3: rgb(216, 216, 216);
    --color-gray-dark-1: rgb(122, 122, 122);
    --color-gray-dark-2: rgb(105, 105, 105);
    --color-gray-dark-3: rgb(77, 77, 77);

    --color-black: rgb(17, 16, 14);

    --color-green: #7dcc83;
    --color-green-dark: #71be76;

}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 62.5%;
    font-weight: 300;
    line-height: 1.6;
    font-family: Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-gray-dark-2);

}

li {
    list-style: none;
}



@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    html {
        font-size: 65%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 70%;
    }
}